# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Uploads & Logs
uploads/
*.log

# Compiled class file
*.class
*.jar
*.war